.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.coverage
.env

data/raw/*
!data/raw/diabetes_012_health_indicators_BRFSS2015.csv
data/processed/*
reports/generated/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!reports/generated/.gitkeep

.streamlit/secrets.toml